<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="
            http://java.sun.com/xml/ns/javaee
            http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>Spring MVC Application</display-name>
    <servlet>
        <servlet-name>LoginWeb</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginWeb</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>WelcomeWeb</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>WelcomeWeb</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>

    <display-name>Spring MVC Application</display-name>
    <servlet>
        <servlet-name>ResultWeb</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResultWeb</servlet-name>
        <url-pattern>/result</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterWeb</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterWeb</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterUserWeb</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterUserWeb</servlet-name>
        <url-pattern>/registeruser</url-pattern>
    </servlet-mapping>


    <filter>
        <filter-name>numberFilter</filter-name>
        <filter-class>com.bl.test.filter.numberFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>numberFilter</filter-name>
        <url-pattern>/add</url-pattern>
        <url-pattern>/subtract</url-pattern>
        <url-pattern>/multiply</url-pattern>
        <url-pattern>/divide</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>registerFilter</filter-name>
        <filter-class>com.bl.test.filter.RegisterFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>registerFilter</filter-name>
        <url-pattern>/registeruser</url-pattern>
    </filter-mapping>

</web-app>